body{
	background: url(phone.jpg);
	background-repeat: no-repeat;
	background-size: cover ;
}
#add{

	width: 80px;
	border-radius: 20px;

}

	table, th,td{

	 margin-top: 30px;
	 border: 1px solid black;
	 width: 100px;
	 color: white;

}

td{

	padding: 10px 50px 10px 50px;
}

#container{

	width: 500px;
	margin: 0 auto;	
}

.form
{
	margin-top: 50px;

}

.fa-times-circle{

	color: red;
}